{% extends 'base.html' %}
{% block content %}
  {% include 'navbar.html' %}
  <div style="width: 90%; margin: auto;">
    <h1 style="text-align: start;">Ads 1.0</h1>
    {% if ads %}
      <ul>
        {% for ad in ads %}
          <li>
            <p>
              <a href="{% url 'ads:ads_detail' ad.pk %}">{{ ad.title }}</a>
              {% if ad.owner == user %}
                (<a href="{% url 'ads:ad_update' ad.pk %}">Edit</a> | <a href="{% url 'ads:ad_delete' ad.pk %}">Delete</a>)
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no ads in the database.</p>
    {% endif %}
  </div>
{% endblock %}
